<template name="simulatortable">
    <div class="panel panel-default">
        <!-- Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Hostname</th>
                    <th>IP</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each simulators}} {{> simulatorrow}} {{/each}}
            </tbody>
        </table>
    </div>
</template>
