<template name="simulatorform">
    <form role="form" name="simulatorform" id="simulatorform">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter simulator name">
        </div>
        <div class="form-group">
            <label for="hostname">Hostname:</label>
            <input type="text" class="form-control" id="hostname" placeholder="Enter hostname of simulator">
        </div>
        <div class="form-group">
            <label for="ip">IP:</label>
            <input type="text" class="form-control" id="ip" placeholder="Enter IP of simulator">
        </div>
        <div class="form-group">
            <label for="ip">Status:</label>
            <select id="status" class="form-control">
                {{#each statuses}}
                    <option {{selectedStatus}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
		<div class="form-group">
			<input type="submit" value="Add" id="add" class="btn btn-default">
			<input type="submit" value="Edit" id="edit" class="btn btn-default">
		</div>
    </form>
</template>